* {
    font-family: Helvetica;
    box-sizing: border-box;
}

body {
    padding: 1rem;
}

h1 {
    text-align: center;
}

form{
    display: flex;
    flex-direction: column;
    gap: .5rem;
    width: 500px;
    margin: 0 auto;
}

label {
    font-weight: bold;
    margin-bottom: 5px;
}

input, select, textarea {
    width: 100%;
    padding: 10px;
    border: 1px solid #CCC;
    border-radius: 5px;
    font-size: 1.1rem;
}

button {
    padding: 10px;
    border: none;
    border-radius: 5px;
    background-color: #333;
    color: #FFFF;
    font-size: 1.1rem;
    cursor: pointer;
}

/* Modal styles */
.modal {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1000;
}

.modal.hidden {
    display: none;
}

.modal-content {
    background: white;
    padding: 20px;
    border-radius: 5px;
    text-align: center;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

#close-modal {
    margin-top: 10px;
    padding: 10px 20px;
    background-color: #007bff;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

#close-modal:hover {
    background-color: #0056b3;
}
